<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">

                    <div class="col-sm-10">
                        <div class="form-area">  
                                 <h3 style="margin-bottom: 25px; text-align: center;">Form thêm đợt kiểm kê</h3>
                                 <%= form_for @inventory_season, url:inventory_seasons_path ,html: {class: "form-horizontal",multipart: true} do |f| %>
                                  <div class="form-group">
                                      <div class="col-sm-12">
                                         <label>Tên đợt kiểm kê</label>
                                         <%= f.text_field :ten,class: "form-control",id: "name",placeholder: "Điền tên đợt" %>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                     <div class="col-sm-12" style="margin-top: 10px;">
                                       <%= f.submit "Thêm đợt", class: "btn btn-primary pull-right",id: "btnMaterialInput" %>
                                     </div>
                                  </div>
                                <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 </div>
 <div id="page-wrapper">
  <div class="container-fluid">
    <div class="row" id="main" >
     <div class="col-sm-12 col-md-12 well" id="content">
      <div class="text-inline">
      </div>
      <div class="table-responsive">          
        <table class="table table-bordered table-hover">
          <thead id="table-header">
            <tr>
              <th>#</th>
              <th>Tên</th>
              <th>Hành động</th>
            </tr>
          </thead>
          <tbody>
          <% if @inventory_season.present ? %>
          <tr>
          <td width="10%"></td>
          <td width="70%"></td>
          <td width="20%" class="text-center"><%= button_to '', method: :delete, data: {confirm: "Bạn có chắc chắn xóa không?" }, disabled: false, style: "border: none; color: #428BCA;" do %>
            <i class="fa fa-times" aria-hidden="true"></i>
            <% end %></td>
           </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>