<% provide(:title,"Tạo Mã QR") %>
<h4>Mã QR được dùng để dán trên thiết bị.</h4>
<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row" id="main" >
                <div class="col-sm-4 well" id="inputText">
                      <div class="form-group">
                      <%= text_field_tag(:text,nil,class: "form-control",id: "code_input", oninput: "myfunc2();")%>
                      </div>
                </div>
                <div class="col-sm-4 well">
                  <div class="row">
                    <h3>Result</h3>
                  </div>
                  <div id="result">
                     <%= render 'generate' %>
                  </div>
                </div>
             </div>
        </div>
</div>
