<% provide(:page, "Trang cá nhân") %>
<div class="container">
	<div class="row">
		<div class="col-md-11">
      <div class="panel panel-default">
      <div class="panel-heading">  <h4>Thông tin</h4></div>
      <div class="panel-body">
        <div class="box box-info">
          <div class="box-body">
          <div class="col-sm-6">
             <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 

              <input id="profile-image-upload" class="hidden" type="file">
              <!--<div style="color:#999;" >click here to change profile image</div>-->
              <!--Upload Image Js And Css-->
             </div>

            <br>
          </div>
          <div class="col-sm-6">
            <h4 style="color:#00b1b1;"><%= current_user.ho_ten %></h4>
            <% if is_admin? %>
            <span><p>Cán bộ quản lí</p></span>     
            <% else %>
            <span><p>Giảng viên</p></span>   
            <% end %>      
          </div>
          <div class="clearfix"></div>
          <hr style="margin:5px 0 5px 0;">


          <!--<div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7 col-xs-6 ">Prasad</div>
          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " >Middle Name:</div><div class="col-sm-7"> Shankar</div>
          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7"> Huddedar</div>
          <div class="clearfix"></div>-->
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " >Ngày sinh: </div><div class="col-sm-7">15 Jun 2016</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " >Nơi ở: </div><div class="col-sm-7">11 Jun 1998</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital">Quốc tịch:</div><div class="col-sm-7">Shirdi</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital">Số điện thoại:</div><div class="col-sm-7">Indian</div>

          <div class="clearfix"></div>
          <div class="bot-border"></div>

          <div class="col-sm-5 col-xs-6 tital " >Relition:</div>
          <div class="col-sm-7">Hindu</div>
        </div>
        <!-- /.box -->

      </div>


    </div> 
  </div>
</div>  
<script>
  $(function() {
    $('#profile-image1').on('click', function() {
      $('#profile-image-upload').click();
    });
  });       
</script> 









</div>
</div>




